.titleborder {
  width: 500px;
  margin: 0px auto;
}

.titlebox {
  border: 2px solid darkslategray;
  width: 330px;
  margin: auto;
  margin-top: 10px;
  background-color: mintcream;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  -moz-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
}
.titlebox:hover{
  -webkit-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  -moz-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
}
.chooseborder {
  border-bottom: 2px solid darkslategray;
  margin: 0px auto;
  width: 450px;
  margin-top: -30px;
  margin-bottom: 20px;
  
}

.title {
  text-align: center;
  font-size: 50px;
  color: darkslategrey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.greeting {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  color: darkslategray;
  margin-bottom: 0px;
  
}

.greetingbox {
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid darkslategray;
}

.signoutbutton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding-left: 15px;
  outline:none;
}
.signoutbutton:hover {
  color: darkred;
}

.leaderboardbutton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding-right: 15px;
  outline:none;
}

.leaderboardbutton:hover{
  color: darkcyan;
}
.editbutton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding-right: 15px;
  outline:none;
}
.editbutton:hover{
  color: green;
}
.buttonbox {
  padding-top: 3px;
  text-align: center;
  
  width: 400px;
 
  margin: auto;
  margin-top: 15px;

}
.actions {
  text-align: center;
}

.practice {
  display: inline;
  margin-right: 10px;
  border: 2px solid darkslategray;
  padding: 5px;
  font-size: 29px;
  background-color: darkgray;
  border-radius: 10px;
}

.practice:hover {
  background-color: darkslategray;
  cursor: pointer;
  color: darkorange;
}

.challenge {
  display: inline;
  margin-left: 10px;
  border: 2px solid darkslategray;
  padding: 5px;
  font-size: 29px;
  background-color: darkgray;
  border-radius: 10px;
  
}

.challenge:hover {
  background-color: darkslategray;
  cursor: pointer;
  color: darkorange;
}

.choosing {
  text-align: center;
  padding-bottom: 5px;
  font-size: 30px;
  color: darkslategray;
  margin-top: 15px;
}

.boxwrapper {
  border: 2px solid darkslategray;
  border-radius: 10px;
  width: 450px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 30px;
  background-color: mintcream;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  -moz-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
}

.boxwrapper:hover{
  -webkit-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  -moz-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
}

.buttontext {
  font-size:12px;
}

.userbox {
  border: 2px solid darkslategray;
  width: 400px;
  border-radius: 10px;
  margin: auto;
  margin-top:20px;
  background-color: mintcream;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  -moz-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
}

.userbox:hover{
  -webkit-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  -moz-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
}

.menu {
  display: flex;
}

.menuwrap{
 
}