.titleborder {
  border-bottom: 2px solid black;
  width: 500px;
  margin: 0px auto;
  margin-top: -60px;
}

.chooseborder {
  border-bottom: 2px solid darkslategray;
  margin: 0px auto;
  width: 380px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 80px;
  color: darkslategrey;
}

.greeting {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  color: darkslategray;
  margin-bottom: 0px;
  border-bottom:2px solid darkslategray;
}

.greetingbox {
  text-align: center;
  padding-top: 10px;
}

.signoutbutton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding-left: 15px;
}
.signoutbutton:hover {
  color: darkred;
}


.editbutton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding-right: 15px;
}
.editbutton:hover{
  color: green;
}
.buttonbox {
  padding-top: 3px;
  text-align: center;
  
  width: 200px;
 
  margin: auto;
  margin-top: 15px;

}
.actions {
  text-align: center;
}

.practice {
  display: inline;
  margin-right: 10px;
  border: 2px solid darkslategray;
  padding: 5px;
  font-size: 29px;
  background-color: darkgray;
}

.practice:hover {
  background-color: darkslategray;
  cursor: pointer;
  color: darkorange;
}

.challenge {
  display: inline;
  margin-left: 10px;
  border: 2px solid darkslategray;
  padding: 5px;
  font-size: 29px;
  background-color: darkgray;
}

.challenge:hover {
  background-color: darkslategray;
  cursor: pointer;
  color: darkorange;
}

.choosing {
  text-align: center;
  padding-bottom: 5px;
  font-size: 30px;
}

.boxwrapper {
  border: 2px solid darkslategray;
  border-radius: 10px;
  width: 900px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 15px;
  background-color: mintcream;
}

.buttontext {
  font-size:12px;
}