.title {
  font-size: 30px;
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
  margin: 0px auto;
  padding-top: 8px;
}

.leadbox {
  margin: auto;
  border: 2px solid darkslategray;
  border-radius: 10px;
  margin-top: 30px;
  width: 400px;
  background-color: mintcream;
}
.leaderboardheader {
  text-align: center;
  margin: 0px auto;
  width: 300px;
}

.leadButton {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.leadButton:hover {
  color: blueviolet;
}

.leaderboardBox {

}

.namebox {
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
  width: 160px;
  margin: 0px auto;
  margin-bottom: 10px;
  background-color: lavender;
}

.name {
font-weight: bold;
color: darkslategray;
font-size: 20px;
}

.wpm {
color: red;
font-weight: bold;
}
