.title {
  font-size: 30px;
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom:8px;
}

.leadbox {
  margin: auto;
  border: 2px solid darkslategray;
  border-radius: 10px;
  margin-top: 30px;
  width: 460px;
  background-color: mintcream;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  -moz-box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  box-shadow: 1px 1px 15px 1px rgba(52,94,138,1);
  padding-bottom: 5px;
}

.leadbox:hover {
  -webkit-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  -moz-box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
  box-shadow: 0px 0px 29px 5px rgba(52,94,138,1);
}
.leaderboardheader {
  text-align: center;
  margin: 0px auto;
  width: 460px;
  padding-bottom: 5px;
}

.namebox {
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
  width: 420px;
  margin: 0px auto;
  margin-bottom: 8px;
  background-color: lavender;
  padding-left: 10px;
}
.namebox:hover{
  background-color: rgb(214, 235, 195);
}
.name {
font-weight: bold;
color: darkslategray;
font-size: 20px;
}

.wpm {
color: firebrick;
font-weight: bold;
}
